# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
*.bak
*.tmp
*.old

# Project-specific
testing_feed.py
testing_webscraping.py
webscrape_difhockeysenews.py

# posted news articles
posted_news.json
.gitignore